div{
   border-style: solid;
   border-width:10px;
   border-color:darkturquoise;
   padding:30px;
}
.container{
    border-color:darkblue;
}

.row{
    border-color:darkblue;
}

body{
    background-color:greenyellow; 
    
}